.VehicleDetailscontainer{
    width: 100%;
    .search{
        display: flex;
        justify-content: space-between;
        position: absolute;
        padding: 0px 10%;
        top: 250px;
        left: 20%;
        width: 60%;
        input{
            width: 80%;
            height: 50px;
            border: none;
            outline: none;
            font-size: larger;
            font-family: "Poppins", sans-serif;
            border-radius: 25px 0px 0px 25px;
            padding-left: 10px;
        }
        button{
         width: 20%;
         height: 50px;
         border: none;
         outline: none;
         border-radius: 0px 25px 25px 0px;
         background-color: #fab64a;
        }
    }
    .result {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 40px 10%;
        justify-content: center;
        background-color: rgb(27,27,27);
        div {
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          width: 90%;
          background-color: rgb(37,37,37);
          padding: 10px 20px;
          h3 {
            margin-bottom: 10px;
            font-size: 30px;
            color: #fff;
            text-align: center;
          }
          .item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap:10px;
          p {
            margin: 5px 0;
            font-size: 12px;
            color: #fab64a;
            font-family: "Poppins", sans-serif;
          }
          strong {
            color: rgb(125, 128, 118);
             font-size: 16px;
             text-align: start;
             font-family: "Poppins", sans-serif;
           }
        }
        }
      }
}
@media (max-width:400px) {
    .VehicleDetailscontainer{
        .search{
            padding: 0px 0%;
            width: 200px;
            button{
                width: 70px;
            }
        }
        .result{
            padding: 40px 2%;
            div{
                padding: 2px;
            }
        }
    }
}